shamefully-hoist=false
hoist-pattern[]=*
store-dir=./.pnpm-store
link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=true
prefer-offline=true
save-exact=true
dedupe-peer-dependents=true
node-linker=hoisted
public-hoist-pattern=[] 